<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: header (~{::body},'account')}">
<body>
<!--/*@thymesVar id="user" type="com.example.models.User"*/-->
<div class="container main-block">
    <div class="page-header">
        <h2>
            Личный кабинет
        </h2>
    </div>
    <!--/* /* Handling the flash message */-->
    <th:block th:if="${message != null}">
        <!--/*@thymesVar id="message" type="com.example.utils.MessageUtil"*/-->

        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">
            &nbsp;
        </div>
    </th:block>
    <div class="row">
        <div class="col-sm-3 col-md-2" style="padding-top: 5px;">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'i0')" id="defaultOpen">Логи</button>
                <button class="tablinks" onclick="openCity(event, 'i1')">Об аккаунте</button>
                <button class="tablinks" onclick="openCity(event, 'i2')">Смена пароля</button>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">

            <div id="i0" class="tabcontent h-log">
                <table class="table-history">
                    <tr>
                        <th>№</th>
                        <th>Дата и время события</th>
                        <th>Событие</th>
                    </tr>
                    <!--/*@thymesVar id="logs" type="List<com.example.models.Log>"*/-->
                    <tr th:each="log : ${logs}">
                        <!--/*@thymesVar id="log" type="com.example.models.Log"*/-->
                        <td th:text="${log.getId()}"></td>
                        <!--/*@thymesVar id="utils" type="com.example.utils.UtilsForWeb"*/-->
                        <td th:text="${utils.getDateFormat(log.getDate())}"></td>
                        <td th:text="${log.getDescription()}"></td>
                    </tr>
                </table>
            </div>

            <div id="i1" class="tabcontent">
                <form action="/users/edit_data" method="post">
                    <div class="input-group">
                        <span class="input-group-addon">E-mail</span>
                        <input name="first_name" th:value="${user.getEmail()}" type="text" class="form-control input-md"
                               disabled="">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Имя</span>
                        <input name="first_name" th:value="${user.getFirstName()}" type="text"
                               class="form-control input-md" required="">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Фамилия</span>
                        <input name="last_name" th:value="${user.getLastName()}" type="text"
                               class="form-control input-md" required="">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Номер телефона</span>
                        <input name="phone_number" th:value="${user.getPhoneNumber()}" type="text"
                               class="form-control input-md">
                    </div>
                    <br/>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Сохранить">
                </form>
            </div>

            <div id="i2" class="tabcontent">
                <form action="/users/edit_pass">
                    <div class="input-group">
                        <span class="input-group-addon">Старый пароль</span>
                        <input autocomplete="off" name="lastPassword" type="password" class="form-control input-md"
                               required="">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Новый пароль</span>
                        <input autocomplete="off" name="newPassword" type="password" class="form-control input-md"
                               required="">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Новый пароль (еще раз)</span>
                        <input autocomplete="off" name="newPasswordConfirm" type="password"
                               class="form-control input-md" required="">
                    </div>
                    <br/>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Сохранить">
                </form>
            </div>

            <div id="i3" class="tabcontent">
                <h3>Добавить администратора</h3>
                <form action="/users/add_admin" method="get">
                    <div class="input-group">
                        <span class="input-group-addon">E-mail</span>
                        <input name="email" type="text" class="form-control input-md">
                    </div>
                </form>
            </div>

            <script>
                function openCity(evt, cityName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(cityName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
        </div>
    </div>
</div>
</body>
</html>