<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/header :: header (~{::body},'login')}">
<body>
<div class="contacts-area">
    <div class="zigzag-bottom"></div>
<div class="container main-block">
    <div class="row">
        <div class="col-md-12 col-lg-8 col-centred">
            <div class="page-header">
                <h2>
                    Вход / <a href="/users/registration">
                    Регистрация</a>
                </h2>
            </div>
            <form method="POST" action="/users/login" class="login-form">
                <br/>
                <div class="input-group w-full">
                    <span class="input-group-addon">Email</span>
                    <input name="username" id="login" autofocus="autofocus" type="text" class="form-control input-lg"
                           placeholder="Email" aria-label="Email" required="">
                </div>
                <br/>
                <div class="input-group w-full">
                    <span class="input-group-addon">Пароль</span>
                    <input name="password" id="pass" type="password" class="form-control input-lg" placeholder="Пароль"
                           aria-label="Пароль" required="">
                </div>
                <br/>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember-me" name="remember-me" checked="checked"
                               style="margin-left: -20px; visibility: visible; left:20px;"><span>Запомнить меня</span>
                    </label>
                </div>
                <!--<div class="g-recaptcha" data-sitekey="6LduKUEUAAAAACGRmysEPl1Mlp9QAo1CRNe6QWUf"></div>
                <span id="captchaError" class="alert alert-danger col-sm-4"
                      style="display:none"></span>-->
                <br>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Вход">
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>