<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: header (~{::body},'registration')}">
<body>
<div class="content">
    <div class="container main-block">
        <div class="row">
            <div class="col-md-12 col-lg-10 col-centred">

                <div class="page-header">
                    <h2>
                        <th:block th:text="${#messages.msg('titles.registration')}"/>
                        / <a href="/users/login">
                        <th:block th:text="${#messages.msg('titles.login')}"/>
                    </a>
                    </h2>
                </div>
                <!--/* /* Handling the flash message */-->
                <th:block th:if="${message != null}">
                    <!--/*@thymesVar id="message" type="com.example.utils.MessageUtil"*/-->
                    <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">
                        &nbsp;
                    </div>
                </th:block>

                <!--/*@thymesVar id="insertUser" type="com.example.models.User"*/-->
                <form th:object="${insertUser}" method="POST" action="/users/registration"
                      class="registration-placeholder">
                    <br/>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
<span class="input-group-addon"
      th:text="${#messages.msg('words.first_name')} + ' *'">Имя</span>
                                <input name="firstName" type="text" class="form-control"
                                       th:value="${insertUser.getFirstName()}" required=""/>
                            </div>
                        </div>
                        <div class="visible-xs-block col-xs-12">
                            <br/>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
<span class="input-group-addon"
      th:text="${#messages.msg('words.last_name')} + ' *'">Фамилия</span>
                                <input name="lastName" type="text" class="form-control"
                                       th:value="${insertUser.getLastName()}"
                                       required=""/>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Email *</span>
                                <input name="email" id="email" type="email" class="form-control"
                                       th:value="${insertUser.getEmail()}" required=""/>
                                <!--/*@thymesVar id="error_email_free" type="java.lang.Boolean"*/-->
                                <label for="email" th:if="${error_email_free}"
                                       th:text="${#messages.msg('error.user.email.free')}" th:class="'error'">Name
                                    Error</label>
                                <!--/*@thymesVar id="error_email_valid" type="java.lang.Boolean"*/-->
                                <label for="email" th:if="${error_email_valid}"
                                       th:text="${#messages.msg('error.user.email.valid')}" th:class="'error'">Name
                                    Error</label>
                            </div>
                        </div>
                        <div class="visible-xs-block col-xs-12">
                            <br/>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon" th:text="${#messages.msg('words.phone')}">Телефон</span>
                                <input name="phoneNumber" type="text" class="form-control"
                                       th:value="${insertUser.getPhoneNumber()}"
                                       minlength="17" id="phone_number"/>
                                <!--/*@thymesVar id="error_phone" type="java.lang.Boolean"*/-->
                                <label for="phone_number" th:if="${error_phone}"
                                       th:text="${#messages.msg('error.user.phone_number.free')}" th:class="'error'">Name
                                    Error</label>
                                <label for="phone_number" th:if="${#fields.hasErrors('phoneNumber')}"
                                       th:text="${#messages.msg('error.user.phone_number.invalid')}" th:class="'error'">Name
                                    Error</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
<span class="input-group-addon"
      th:text="${#messages.msg('words.password')} + ' *'">Пароль</span>
                                <input name="pass" id="pass" type="password" class="form-control"
                                       minlength="6" required=""/>
                                <!--/*@thymesVar id="error_pass" type="java.lang.Boolean"*/-->
                                <label for="pass" th:if="${error_pass}" th:text="${#messages.msg('error.user.pass2')}"
                                       th:class="'error'">Name Error</label>
                                <!--/*<label for="pass" th:if="${#fields.hasErrors('pass')}" th:text="${#messages.msg('error.user.pass')}" th:class="'error'">Name Error</label>*/-->
                            </div>
                        </div>
                        <div class="visible-xs-block col-xs-12">
                            <br/>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"
                                      th:text="${#messages.msg('words.password_again')} + ' *'">Повторите пароль</span>
                                <input name="pass2" type="password" id="pass2" class="form-control"
                                       required=""/>
                                <!--/*@thymesVar id="error_pass" type="java.lang.Boolean"*/-->
                                <label for="pass2" th:if="${error_pass}" th:text="${#messages.msg('error.user.pass2')}"
                                       th:class="'error'">Name Error</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-lg btn-primary btn-block"
                            th:text="${#messages.msg('titles.registration')}">
                        Регистрация
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>