<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/header :: header (~{::body},'shop')}">
<body>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container main-block">
        <!--/*@thymesVar id="products" type="java.util.List<Product>"*/-->

        <!--/*@thymesVar id="utils" type="com.example.utils.UtilsForWeb"*/-->
        <!--/*@thymesVar id="page" type="java.lang.Integer"*/-->
        <th:block
                th:each="i : ${#numbers.sequence(page*utils.productsCount(), utils.getProductsCount(page, products.size()))}">
            <div class="single-shop-product" th:with="product = ${products.get(i)}">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="/resources/img/product-2.jpg" alt="" class="product-img">
                    </div>
                    <div class="col-sm-5">
                        <a th:href="@{/products(id=${product.getId()})}" th:text="${product.getName()}">Apple new mac
                            book 2015 March :P</a>
                    </div>
                    <div class="col-sm-2">
                        <div class="product-carousel-price">
                            <ins th:text="${product.getPrice()}">₽899.00</ins>
                            <del th:if="${product.getOldPrice()>0}" th:text="${product.getOldPrice()}">₽999.00</del>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <form th:action="@{/orders/buy_product(id=${product.getId()})}" method="post">
                            <input style="display: none" value="1" name="quantity" min="1">
                            <button class="add-to-cart-link" type="submit">В корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        </th:block>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>