.floatleft { float: left }
.floatright { float: right }
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 15px;
}
body { font-family: 'Titillium Web', sans-serif; line-height: 1;}

.header-area {
    background: none repeat scroll 0 0 #f4f4f4;
}
.header-area a {
    color: #888;
}
.user-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.user-menu li {
    display: inline-block;
}
.user-menu li a {
    display: block;
    font-size: 13px;
    margin-right: 5px;
    padding: 10px;
}
.user-menu li a i.fa {
    margin-right: 5px;
}
.header-left ul.list-inline {
    margin: 0;
    text-align: left;
}
.header-left ul.list-inline li a {
    display: block;
    padding: 9px;
}
.header-left ul.list-inline li ul a {
    padding: 5px 15px;
}
.header-left ul.list-inline li ul {
    border: medium none;
    border-radius: 0;
    left: 50%;
    margin-left: -50px;
    min-width: 100px;
    text-align: center;
}

.mainmenu-area {background: none repeat scroll 0 0 #05318c;
font-family: "Roboto Condensed",sans-serif;
text-transform: uppercase;
width: 100%;
z-index: 999;}

.logo {
    margin: 20px 0;
}

.logo a img {
    height: 85px;
}

.shopping-item {
    border: 1px solid #ddd;
    float: right;
    font-size: 18px;
    margin-top: 40px;
    padding: 7px 10px;
    position: relative;
    border-radius: 21px;
}

.shopping-item a{
    color: #05318c;
}

.cart-amunt {
    color: #05318c;
    font-weight: 700;
}
.product-count {
    background: none repeat scroll 0 0 #05318c;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    padding-top: 2px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
}
.shopping-item i.fa {
    margin-right: 15px;
}


.shopping-item:hover {
    background: none repeat scroll 0 0 #05318c;
    border-color: #05318c;
}
.shopping-item:hover a {
    color: #fff;text-decoration: none
}
.shopping-item:hover .cart-amunt {
    color: #fff;
}
.shopping-item:hover .product-count {
    background: none repeat scroll 0 0 #ffffff;
    color: #05318c;
    border: 1px solid #ddd;
}


.mainmenu-area ul.navbar-nav li a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
}

.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {background: #ffffff;color: #05318c;}
.mainmenu-area .nav > li > a:focus {color: #000}

.slider-area {clear: both}
.slider-area, .promo-area, .brands-area, .maincontent-area, .footer-top-area, .product-widget-area, .product-breadcroumb-area, .single-product-area, .contacts-area {position: relative;overflow: hidden}
.slide-text-wrapper {
  height: 700px;
}
.slide-text-wrapper {
  display: table;width: 100%;
}

.slide-text {display: table-cell;vertical-align: middle}

.zigzag-bottom {
background: none repeat scroll 0 0 #23ADDB;
bottom: -120px;
height: 165px;
left: -5%;
position: absolute;
transform: rotate(3deg);
width: 108%;
z-index: 9;
}

.slide-bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;background-position: center;background-size: cover
}
.slide-bg:after {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}
.slide-one {background-image: url(../img/slide-1.jpg)}
.slide-two {background-image: url(../img/slide-2.jpg)}
.slide-three {background-image: url(../img/slide-3.jpg)}
.slide-text {color: #fff;font-size: 18px;font-weight: 200}
.slide-text h2 {
  font-size: 45px;font-weight: 200
}

.slide-content {position: relative;z-index: 9;padding: 30px}
.slide-content:before {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}


.readmore {
    background: none repeat scroll 0 0 #05318c;
    color: #fff;
    border: 1px solid #05318c;
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
}


.readmore:hover {background: #222;text-decoration: none;color: #fff;border: 1px solid #fff}


.promo-area {
  background: none repeat scroll 0 0 #05318c;
  color: #fff;
  padding: 77px 0 200px;
}

.brands-area {
  background: none repeat scroll 0 0 #05318c;
  color: #fff;
  padding: 0 0 200px;
}

.promo-area .zigzag-bottom, .brands-area .zigzag-bottom{background: #fff}
.single-promo {
    border: 1px solid #17a78b;
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
}
.single-promo i {
  font-size: 50px;
}

.single-promo:hover {color: #fff;background: #222;border-color: #222}

.section-title {
  font-family: "Raleway",sans-serif;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;
}


.product-f-image {
    position: relative;
}
.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;overflow: hidden;border: none;
}
.product-hover:after {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: -100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;transition: .4s;
}
.product-hover a {
    background: none repeat scroll 0 0 #05318c;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    left: 10%;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #05318c;
    width: 80%;z-index: 99;transition: .4s;
}
.product-hover a:hover {
    color: #05318c;;
    background: #ffffff;
    text-decoration: none;border-color: #444;
}
.product-carousel-price ins {
  color: #05318c;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}
.product-hover a i.fa {
    margin-right: 5px;
}
.product-hover a.add-to-cart-link {top: -25%;}
.product-hover a.view-details-link { bottom: -25%;}
.single-product h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
}


.single-product h2 a {
    color: #222;
}
.single-product p {
    color: #05318c;
    font-weight: 700;
}

.single-product {
  overflow: hidden;
}
.single-product:hover {}
.single-product:hover .product-hover a.add-to-cart-link {top: 32%;}
.single-product:hover .product-hover a.view-details-link {bottom: 32%;}
.single-product:hover .product-hover:after{left: 0}


.product-carousel {
  padding-top: 40px;
}
.latest-product .owl-nav {
  position: absolute;
  right: 0;
  top: 0;
}

.latest-product .owl-nav div, .related-products-wrapper .owl-nav div {
  border: 1px solid #05318c;
  color: #05318c;
  display: inline-block;
  margin-left: 15px;
  padding: 1px 10px;
}
.latest-product .owl-nav div:hover, .brand-wrapper .owl-nav div:hover, .related-products-wrapper .owl-nav div:hover {color: #222;border-color: #222}
.brand-list {padding-top: 40px;}
.brand-list .owl-nav {
  position: absolute;
  right: 0;
  top: 0;
}
.brand-wrapper .owl-nav div {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin-left: 15px;
  padding: 1px 10px;
}

.maincontent-area {padding-bottom: 120px}

.product-wid-title {
    font-family: raleway, serif;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 40px;
}


.single-wid-product {
    margin-bottom: 31px;
    overflow: hidden;
}
.product-thumb {
    float: left;
    height: 90px;
    margin-right: 15px;
    width: 100px;
}
.single-wid-product h2 {
    font-size: 18px;
    margin-bottom: 12px;
}
.product-wid-rating {
    color: #ffc808;
    margin-bottom: 10px;
}
.product-wid-price ins {
    color: #05318c;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}
.single-wid-product h2 a {
    color: #222;
}
.single-wid-product h2 a:hover, .single-product h2 a:hover {
    color: #05318c;
}
.wid-view-more {
    background: none repeat scroll 0 0 #05318c;
    color: #fff;
    padding: 3px 15px;
    position: absolute;
    right: 0;
    top: 3px;
}
.wid-view-more:hover {color: #fff;background-color: #222;text-decoration: none}
.single-product-widget {
    position: relative;
}
.product-widget-area {
  padding-bottom: 150px;
  padding-top: 30px;
}
.product-widget-area .zigzag-bottom{background: #333}
.footer-top-area .zigzag-bottom{background: #05318c}
.footer-top-area {background: none repeat scroll 0 0 #23ADDB;
color: #999;
padding: 35px 0 180px;}


.footer-bottom-area {background: #05318c;color: #fff}
.footer-about-us span {
  color: #05318c;
}
.footer-wid-title {
    font-family: raleway, serif;
    font-weight: 100;
    color: #fff
}
.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    border-bottom: 1px dashed #555;
    padding: 5px 0;
}
.footer-menu a {
    display: block;
    padding: 5px 0;color: #999
}

.footer-menu a:hover {
    color: #fff;
}


.footer-social a {
  background-color:#05318c;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 10px;
  text-align: center;
  width: 40px;
}

.footer-social a:hover {background-color: #fff;border-color: #05318c;color: #05318c}

.footer-social {margin-top: 20px}


.newsletter-form input[type="email"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
.newsletter-form input[type="submit"] {
    background: none repeat scroll 0 0 #05318c;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 7px 20px;
    text-transform: uppercase;
    border: 1px solid #05318c;
}
.newsletter-form input[type="submit"]:hover {background: #fff;border-color: #05318c; color: #05318c}
.newsletter-form {
    margin-top: 25px;
}
a {color: #008ec6}
a:hover, a:focus {color: #05318c;text-decoration: none;}
.footer-bottom-area {
  background: none repeat scroll 0 0 #05318c;
  color: #fff;
  padding-bottom: 20px;
}


.slide-bulletz {
    bottom: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99;
}
ol.slide-indicators {
left: inherit;
list-style: outside none none;
margin: 0;
padding: 0;
position: relative;
width: 100%;
}
ol.slide-indicators li {
background: none repeat scroll 0 0 #222;
border: medium none;
border-radius: 0;
cursor: pointer;
display: inline-block;
height: 10px;
margin: 0 0 0 5px;
width: 10px;
}
ol.slide-indicators li.active {
background: none repeat scroll 0 0 #fff;
height: 10px;
margin: 0 0 0 5px;
width: 10px;
}


.carousel.carousel-fade .item { transition: opacity 1s ease-in-out }
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.footer-card-icon {
  font-size: 30px;
  text-align: right;
}

.copyright > p {
  margin: 10px 0 0;
}

.product-big-title-area {background: url(../img/crossword.png) repeat scroll 0 0 #05318c}

.product-bit-title h2 {
    font-family: raleway, serif;
  font-size: 50px;
  font-weight: 200;
  margin: 0;
  padding: 50px 0;color: #fff;
}

.single-product-area .zigzag-bottom {background-color: #333333}

.single-product-area {
  padding: 0 0 90px;
}
.sidebar-title {
    color: #1556aa;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.single-sidebar {
    margin-bottom: 50px;
}
input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #ddd;
    padding: 10px;
}
input[type="submit"], button[type=submit], a[type=submit] {
    background: none repeat scroll 0 0 #05318c;
    border: 1px solid #ddd;
    color: #fff;
    text-transform: uppercase;
}
input[type="submit"]:hover, button[type=submit]:hover {background-color: #fff;color:#05318c}
.single-sidebar input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
}
.thubmnail-recent {
    margin-bottom: 30px;
    overflow: hidden;
}
.recent-thumb {
    float: left;
    height: auto;
    margin-right: 15px;
    width: 63px;
}
.thubmnail-recent > h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.thubmnail-recent > h2 a {
    color: #222;
}
.product-sidebar-price > ins {
    color: #05318c;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}
.single-sidebar > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.single-sidebar li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}
.single-sidebar a {
    display: block;
}
.product-breadcroumb {
    margin-bottom: 20px;
}
.product-breadcroumb > a {
    margin-right: 31px;
    position: relative;
}
.product-breadcroumb > a::before {
    content: "/";
    position: absolute;
    right: -20px;
    top: 2px;
}
.product-breadcroumb > a:last-child::before {
    display: none;
}
.product-main-img {
    margin-bottom: 20px;
}
.product-gallery {
    margin-bottom: 25px;
    margin-left: -15px;
    overflow: hidden;
}
.product-gallery img {
    height: auto;
    margin-left: 15px;
    width: 76px;
}
.product-name {
    font-size: 25px;
    margin-bottom: 20px;
}
.product-inner-price {
    margin-bottom: 25px;
}
.product-inner-price > ins {
    color: #05318c;
    font-weight: 700;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
}
.quantity {
    float: left;
    margin-right: 15px;
}
.quantity input[type="number"] {
    border: 1px solid #05318c;
    padding: 5px;
    height: 44px;
    width: 40px;

}
.add_to_cart_button[type=submit] {
    padding: 14px 20px;
}
.add_to_cart_button:hover {background-color: #222;color: #fff;text-decoration: none}
form.cart {
    margin-bottom: 25px;
}
.product-inner-category {
    margin-bottom: 30px;
}
.product-tab {
    border-bottom: 1px solid #ddd;
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
.product-tab li {
    display: inline-block;
}
.product-tab li.active {
    background: none repeat scroll 0 0 #05318c;
}
.product-tab li.active a {
    color: #fff;
}
.product-tab li a {
    color: #222;
    display: block;
    font-size: 16px;
    padding: 10px 30px;
}
.product-tab li a:hover {
    text-decoration: none;
}
.product-tab li a:focus {
    text-decoration: none;
}
.tab-content h2 {
    font-size: 20px;
}
.tab-content {
    margin-bottom: 30px;
}
.submit-review label {
    display: block;
}
.submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
    width: 100%;
}
.rating-chooser {
    margin-bottom: 30px;
}
.rating-chooser p {
    font-weight: 700;
}
.rating-wrap-post {
    font-size: 20px;
}

.submit-review textarea {
    height: 105px;
}

.related-products-wrapper {
  margin-top: 30px;
}
.related-products-title {color: #05318c;
font-size: 25px;
margin-bottom: 30px;
text-transform: uppercase;}

.related-products-wrapper .owl-nav {
  position: absolute;
  right: 0;
  top: -56px;
}
.product-subtotal {
    width: 100px;
}
.product-price{
    width: 100px;
}
table.shop_table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 50px;
    width: 100%;
}
table.shop_table th, table.shop_table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
table.shop_table th {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 15px;
    text-transform: uppercase;
}
td.product-thumbnail img {
    height: auto;
    width: 70px;
}
td.product-name {
    font-size: 18px;
}
div.quantity input.plus, div.quantity input.minus {
    background: none repeat scroll 0 0 #05318c;
    border: medium none;
    color: #fff;
    padding: 3px 5px;
}
td.product-quantity div.quantity {
    float: none;
    margin: 0;
    width: 110px;
}
td.actions {
    padding-top: 15px;
}
.cart-collaterals {
    overflow: hidden;
}
.cross-sells {
    float: left;
    margin-right: 3%;
    width: 57%;
}
.cart-collaterals h2 {
    color: #05318c;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
div.cart-collaterals ul.products {
    list-style: outside none none;
    margin: 0 0 0 -30px;
    padding: 0;
}
div.cart-collaterals ul.products li.product {
    float: left;
    margin-left: 30px;
    position: relative;
    width: 198px;
}
.cart_totals table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
}
.cart_totals table th, .cart_totals table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px 15px;
}
.cart_totals table th {
    font-weight: 400;
    background: none repeat scroll 0 0 #f4f4f4;
}
.onsale {
}
div.cart-collaterals ul.products li.product .onsale {
    background: none repeat scroll 0 0 #05318c;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    right: 0;
}
div.cart-collaterals ul.products li.product h3 {
    color: #333;
    font-size: 20px;
    margin-top: 15px;
}
div.cart-collaterals ul.products li.product .price {
    color: #333;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}
.price > ins {
}
div.cart-collaterals ul.products li.product .price ins {
    color: #05318c;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
}



.woocommerce-info {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 15px;
}
.col2-set {
    margin-left: -30px;
    overflow: hidden;
}
.col-1, .col-2 {
    float: left;
    margin-left: 30px;
    width: 360px;
}
#customer_details label {
    display: block;
    margin: 0 0 5px;
}
#customer_details input[type="text"], #customer_details textarea {
    margin-bottom: 10px;
    width: 100%;
}
#customer_details h3 {
    color: #05318c;
    font-size: 20px;
    text-transform: uppercase;
}
.create-account {
    background: none repeat scroll 0 0 #f4f4f4;
    margin-bottom: 15px;
    padding: 15px;
}
#order_review_heading {
    color: #05318c;
    font-size: 20px;
    text-transform: uppercase;
}
#payment ul.payment_methods {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
}
#payment ul.payment_methods li {
    margin-bottom: 15px;
}
a.about_paypal {
    font-size: 12px;
    margin-left: 15px;
}


#customer_details select, .shipping_calculator select {
  border: 1px solid #ddd;
  width: 100%;
}


table.shop_table td.product-remove a {
  display: inline-block;
  padding: 0 5px 2px;
  text-transform: uppercase;
}


table.shop_table td.product-remove a:hover {color: #fff;background: #05318c;text-decoration: none}
table.shop_table td.product-name a{color: #222;}
table.shop_table td.product-name a:hover {color: #05318c;text-decoration: none}
div.quantity input.plus:hover, div.quantity input.minus:hover {background-color: #222}
div.cart-collaterals ul.products li.product a:hover h3 {color: #05318c}
div.cart-collaterals ul.products li.product a:hover {text-decoration: none}

div.cart-collaterals ul.products li.product:hover .add_to_cart_button{background-color: #222}


#login-form-wrap, #coupon-collapse-wrap {
    background: none repeat scroll 0 0 #f4f4f4;
    margin-bottom: 30px;
    padding: 25px;
}
#login-form-wrap label {
    display: block;
    margin-bottom: 5px;
}
#login-form-wrap .input-group {
    width: 100%;
    margin-bottom: 10px;
}
#login-form-wrap .input-group-addon {
    width: 130px;
}
#login-form-wrap input[type="submit"] {
    margin-bottom: 15px;
}



.single-shop-product h2 {
    font-size: 20px;
    margin: 10px 0;
}
.product-option-shop {
    margin-top: 15px;
}

.single-shop-product {margin-bottom: 50px}

.pagination > li > a, .pagination > li > span {
  color: #05318c;
}


.pr-0 {
     padding-right: 0;
 }
.pl-0 {
    padding-left: 0;
}

.login-registr {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    float: right;
}

.login-registr a{
    margin-right: 1px;
}

.login-registr span{
    color: #888;
}

.search-button {
    height: 41px;
    width: 41px;
    position: absolute;
    top: 1.2px;
    right: 16px;
    cursor: pointer;
    border-radius: 21px;
}
.search-button:focus {
    outline: none;
    border-radius: 21px;
    border: 1px solid #05318c;
}
.search-placeholder:focus {
    outline: none;
    border-radius: 21px;
    border: 1px solid #05318c;
}
.search-button:before {
    content: "\f002";
    font-family: FontAwesome, serif;
    font-size: 16px;
    right: 12px;
    top: 11px;
    position: absolute;
}
.search-button:hover {
    border-color: #05318c;
}
.search-placeholder{
    border-radius: 21px;
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-fill-available;
}

.q-phone-block{
    float: right;
    margin-top: 40px;
}

.q-phone-block .number {
    font-size: 22px;
    font-weight: bold;
    color: #3f454b;
    font-family: Schlange, Helvetica, Arial, sans-serif;
    margin: 0;
}

.headerCallback a{
    border-bottom: 1px dotted;
    height: 20px;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
}

.headerCallback a:hover{
    border-bottom: none;
}

.headerCallback {
    right: 34px;
    position: absolute;
}


.tab {
    float: left;
    height: 340px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 16px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #05318c2e;
    color: #000;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #05318c;
    color: white;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0 12px;
    border-left: none;
    height: 360px;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.table-history {
    margin-top: 1rem;
    width: 100%;
    font-size: 18px;
}

.table-history th {
    color: #000;
    padding: 0 15px 12px 15px
}
.table-history td {
    color: #666;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
}
.table-history.p-min td {
    padding: 2px 10px;
}

.table-history.p-min td strong{
    color: black;
}

.table-history tr:hover td {background: #ddd;}
.table-history.backgr-none tr:hover td{background: inherit;}

.table-history a{
    color: #05318c;
    border-bottom: 1px dotted;
}

.table-history a:hover{
    border-bottom: none;
}

#i1 span {
    width: 135px;
}

#i2 span {
    width: 170px;
}

#i1, #i1 .input-group, #i2, #i2 .input-group, #i3, #i3 .input-group {
    width: 100%;
}
#i1 .btn, #i2 .btn {
    width: 40%;
}
.contacts-area {
    line-height: initial;
    padding-bottom: 100px;
    font-size: 13px;
}

.mt-40{
    margin-top: 40px;
}

.registration-placeholder span {
    width: 155px;
}

.registration-placeholder .input-group {
    width: 100%;
}

.update_cart {
    float: right;
}

input#coupon_code.input-text{
    width: 40%;
}

.button.order_success {
    margin-top: 15px;
    float: right;
}

.shipping_calculator .input-group {
    width: 100%;
}

.shipping_calculator .input-group-addon {
    width: 150px;
}

.main-block {
    padding-top:60px;
    padding-bottom: 40px;
}

.container .page-header {
    margin: 0;
}

.cart-collaterals h2 {
    text-align: center;
}

.gis2 {
    background-color: #f7f3df;
    height: 350px;
}

.gis2 h1 {
    position: absolute;
    top: 48%;
    left: 42%;
}

.col-centred{
    float: none;
    margin: 0 auto;
}

.w-full {
    width: 100%;
}

.shipping_calculator .input-group-addon {
    width: 150px;
}

.login-form .input-group-addon {
    width: 75px;
}

.ship_and_pay-area .tabcontent {
    font-size: 16px;
}

.tab-content-padding-bottom {
    padding-bottom: 60px;
}

.btn:focus {
    outline: none;
    border-color: #05318c;
}

main {
    z-index: 99;
    position: absolute;
    left: 0;
    font-family: "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    color: #05318c;
}

td, th {
    font-size: 16px!important;
    font-family: monospace;
}

h4{
    margin: 0 0 15px;
}

main nav ul {
    padding: 0;
}

main nav h4 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.contacts-area details {
    border: 1px solid #999;
    border-radius: 5px;
    margin: 1em;
    cursor: pointer;
    padding: 1.04%;
}

.contacts-area details summary {
    outline: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    margin: -1%;
    padding: 8px 10px;
    background: -webkit-linear-gradient(top, #f3f3f3 50%, #e6e6e6 50%);
}

.contacts-area details:hover{
    border-color: #05318c;
}

.contacts-area details table {
    margin-top: 20px;
}
main nav input[type=checkbox][disabled] {
    cursor: pointer;
}

.main-page {
    padding-left: 200px;
    padding-right: 30px;
}

.nav-index #link-top {
    display: none;
}
.nav-index .down {
    display: none;
}
.nav-index {
    top: 60px !important;
}
.hid-lg{
    display: none;
}
.right-input{padding-right: 0!important;padding-left: 0!important;margin-left: calc(100%/12);}
.left-input{padding-left: 0!important; padding-right: 0!important;}

.mr-0 {margin-right: 0;}
.ml-0 {margin-left: 0;}
.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem}
.mb-2 {margin-bottom: 2rem;}

.centred {
    height: 20em;
    position: relative
}

.centred div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

.single-shop-product image.product-img{
    display: inline;
    height: 120px;
}

div.politics details summary{
    outline: none;
    cursor: pointer;
}

div.politics details{
    padding: 0 15px;
}
.inline{
    display: inline;
}
summary.without_marker::-webkit-details-marker{
    display: none;
}
div.status {
    border: 1px solid #999;
    margin: 1em;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
div.status p{
    margin: 8px;
    display: inline-block;
}
.gone{
    display: none;
}
.actions{
    text-align: end;
}
.actions i.fas{
    margin: 12px;
}
.eee {
    color: #e6e6e6;
}
.statuses{
    height: 4em;
    position: relative;
}
.statuses .btn.active, .edit_callback .btn.active{
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.7);
}
.actions-callback a{
    color: #e6e6e6;
}
.edit_callback {
    margin-top: 1em;
}
.status.row .col-xs-5.actions{
    padding: 0 15px;
}
.dropdown-item{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
}

.filter{
    margin-top: 2rem;
}
.filter-statuses{
    margin-top: 1.5rem;
}
.contacts-area.widget-fix{
    min-height: 700px;
}
.h-log{
    height: 400px;
    overflow-y: scroll;
}
.goods h4{
    margin: auto auto 15px;
    width: max-content;
}
.goods {
    cursor: pointer;
}