<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: header (~{::body},'order_widget')}">

<body th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
<div class="contacts-area widget-fix" th:style="${isAdmin}?'':'min-height:300px'">
    <div class="zigzag-bottom"></div>
    <div class="container main-block">
        <div class="row" th:fragment="widget(type)">
            <!--/*@thymesVar id="orders" type="com.example.utils.remonlineAPI.RemOrders"*/-->
            <!--/*@thymesVar id="status" type="com.example.utils.remonlineAPI.Status"*/-->
            <div class="col-md-10 col-lg-8 col-centred">
                <div class="header mb-2">
                    <h3 th:unless="${type}">Узнать статус ремонта по номеру телефона</h3>
                    <h4 th:if="${type}">Узнать статус ремонта по номеру телефона</h4>

                </div>
                <div class="row">
                    <form action="/orders/widget" method="get">
                        <div class="col-xs-8">
                            <div class="input-group">
                                <span class="input-group-addon">Телефон</span>
                                <!--/*@thymesVar id="phone" type="java.lang.String"*/-->
                                <input name="phone" id="phone" autofocus="autofocus" type="text"
                                       class="form-control input-lg" th:minlength="${isAdmin?0:5}" th:value="${phone}"
                                       placeholder="Телефон" aria-label="Телефон" th:required="${not isAdmin}">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Узнать">
                        </div>
                    </form>
                </div>
                <div class="row" th:if="${isAdmin}">
                    <div class="col-sm-1 col-xs-2 filter"><span>Фильтр:</span></div>
                    <div class="col-xs-2 dropdown filter-statuses">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                th:text="${status!=null?status.getName():'Все статусы'}" th:style="'background: '+${status!=null?status.getColor():'lightgray'}">
                            Статусы
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!--/*@thymesVar id="statuses" type="java.util.List<com.example.utils.remonlineAPI.Status>"*/-->
                            <!--/*@thymesVar id="status" type="com.example.utils.remonlineAPI.Status"*/-->
                            <a class="dropdown-item" href="#" th:href="@{/orders/widget}" th:if="${status!=null}">Все статусы</a>
                            <a class="dropdown-item" href="#" th:each="each_status:${statuses}" th:text="${each_status.getName()}"
                               th:style="'background:'+${each_status.getColor()}" th:href="@{/orders/widget(status=${each_status.getId()})}"
                               th:if="${status==null or (status!=null and status.getId()!=each_status.getId())}">Action</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <th:block th:unless="${orders==null or orders.data==null or orders.data.size()==0}">
                        <details th:each="order: ${orders.data}" style="cursor: auto;">
                            <summary th:text="${order.brand + ' ' + order.model + ' (' + order.status.name + ')'}"
                                     th:style="${'background: '+ order.status.color}">Ноутбуки</summary>
                            <table class="table-history p-min backgr-none">
                                <tr>
                                    <th><strong>ID</strong></th>
                                    <th><strong>Вердикт</strong></th>
                                    <th><strong>Цена</strong></th>
                                    <th style="background: lightskyblue;" th:if="${isAdmin}"><strong>Имя</strong></th>
                                </tr>
                                <!--№ Заказа	Устройство	Статус	Цена, руб-->
                                <tr>
                                    <td th:text="${order.id_label}">%ID%</td>
                                    <td th:text="${order.resume}">%RESUME%</td>
                                    <td th:text="${order.price}">%PRICE%</td>
                                    <td th:text="${order.client.name}" th:if="${isAdmin}">%CLIENT NAME%</td>
                                </tr>
                            </table>
                        </details>
                    </th:block>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>