<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: header (~{::body},'contacts')}">
<body>
<div class="contacts-area">
    <div class="zigzag-bottom"></div>
    <div class="container main-block">
        <div class="row" th:fragment="contacts">
            <div class="col-sm-6">
                <h3>Наш телефон:
                    +7(983) 583-2000
                </h3>
                <h4>Режим работы:</h4>
                <p>Ежедневно c 09:00 до 20:00</p>
                <p>Суббота, Воскресенье с 09:00 до 14:00</p>
                <h4>Адрес:</h4>
                <p>Республика Алтай, Майминский район,
                    с.Кызыл-Озёк, ул. Советская, 51
                </p>
                <h4>Данные организации:</h4>
                <p>
                    Наименование организации: ИП "Воронкова Вера Сергеевна"<br/>
                    ИНН 040801420764<br/>
                    ОГРН: 312041111000041<br/>
                    Фактический адрес: 649105, Республика Алтай, Майминский р-н, с. Кызыл-Озек, ул Советская, дом
                    51<br/>
                    Юридический адрес: Шолохова 1<br/>
                    Расчетный счет: 40802810802350001718<br/>
                    Банк: ГОРНО-АЛТАЙСКОЕ ОТДЕЛЕНИЕ N8558 ПАО СБЕРБАНК<br/>
                    БИК: 048405602<br/>
                    Kорр. счет: 30101810300000000602</p>
            </div>
            <div class="col-sm-6">
                <h3>Как добраться:</h3>
                <div class="gis2">
                    <h1>2GIS</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>