<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: header (~{::body},'contacts')}">
<body>
<div class="contacts-area">
    <div class="zigzag-bottom"></div>
    <div class="container main-block">
        <div class="row" th:fragment="contacts(type)">
            <div class="col-sm-6">
                <h3>Наш телефон:
                    +7(983) 583-2000
                </h3>
                <h4>Режим работы:</h4>
                <p>Ежедневно c 09:00 до 20:00</p>
                <p>Суббота, Воскресенье с 09:00 до 14:00</p>
                <h4>Адрес:</h4>
                <p>Республика Алтай, Майминский район,
                    с.Кызыл-Озёк, ул. Советская, 51
                </p>
                <!--/*@thymesVar id="type" type="java.lang.Boolean"*/-->
                <th:block th:unless="${type}">
                    <h4>Данные организации:</h4>
                    <p>
                        Наименование организации: ИП "Воронкова Вера Сергеевна"<br/>
                        ИНН 040801420764<br/>
                        ОГРН: 312041111000041<br/>
                        Фактический адрес: 649105, Республика Алтай, Майминский р-н, с. Кызыл-Озек, ул Советская, дом
                        51<br/>
                        Юридический адрес: Шолохова 1<br/>
                        Расчетный счет: 40802810802350001718<br/>
                        Банк: ГОРНО-АЛТАЙСКОЕ ОТДЕЛЕНИЕ N8558 ПАО СБЕРБАНК<br/>
                        БИК: 048405602<br/>
                        Kорр. счет: 30101810300000000602</p>
                </th:block>
            </div>
            <div class="col-sm-6">
                <h3>Как добраться:</h3>
                <!--<div class="gis2">-->
                <!--<h1>2GIS</h1>-->
                <!--</div>-->
                <a class="dg-widget-link"
                   href="http://2gis.ru/gornoaltaysk/firm/3800440466613169/center/85.99582672119142,51.89414586203653/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
                    на карте Республики Алтай</a>
                <div class="dg-widget-link">
                    <a href="http://2gis.ru/gornoaltaysk/firm/3800440466613169/photos/3800440466613169/center/85.99582672119142,51.89414586203653/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии
                        компании</a>
                </div>
                <div class="dg-widget-link"><a
                        href="http://2gis.ru/gornoaltaysk/center/85.995832,51.893641/zoom/16/routeTab/rsType/bus/to/85.995832,51.893641╎Цифровой Центр, магазин-мастерская?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
                    проезд до Цифровой Центр, магазин-мастерская</a></div>
                <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
                <script charset="utf-8">new DGWidgetLoader({
                    "width": 480,
                    "height": 440,
                    "borderColor": "#a3a3a3",
                    "pos": {"lat": 51.89414586203653, "lon": 85.99582672119142, "zoom": 16},
                    "opt": {"city": "gornoaltaysk"},
                    "org": [{"id": "3800440466613169"}]
                });</script>
                <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript.
                    Включите его в настройках вашего браузера.
                </noscript>
            </div>
        </div>
    </div>
</div>
</body>
</html>