<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: header (~{::body},'fix')}">
<body>
<div class="contacts-area">
    <div class="zigzag-bottom"></div>
    <div class="container main-block">
        <div class="row" th:fragment="fix">
            <div class="col-md-10 col-lg-8 col-centred">
                <div class="header">
                    <h4>Перечень работ и цен на услуги мастерской
                        &quot;Цифровой Центр&quot;</h4>
                </div>
                <details>
                    <summary>Ноутбуки</summary>
                    <table class="table-history p-min">
                        <tr>
                            <th><strong>Вид работы</strong></th>
                            <th style="padding-right: 25px;"><strong>Цена</strong></th>
                            <th><strong>Гарантия</strong></th>
                        </tr>
                        <tr>
                            <td>Диагностика ноутбука (без дальнейшего ремонта(без разборки))</td>
                            <td>200</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Диагностика ноутбука(без дальнейшего ремонта (с полной разборкой/сборкой/заменой
                                комплектующих))
                            </td>
                            <td>400</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Диагностика (при условии дальнейшего ремонта )</td>
                            <td>0</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Замена внутренних шлейфов ноутбука</td>
                            <td>1200</td>
                            <td>3 мес.</td>
                        </tr>
                        <tr>
                            <td>Восстановление ОС (ноутбук)</td>
                            <td>700</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Замена клавиатуры ноутбука</td>
                            <td>100</td>
                            <td>3 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена клавиатуры ноутбука (сложный разбор)</td>
                            <td>500</td>
                            <td>3 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена корпуса ноутбука</td>
                            <td>1500</td>
                            <td>3 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена материнской платы ноутбука</td>
                            <td>1200</td>
                            <td>3 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена матрицы, LCD ноутбука</td>
                            <td>500</td>
                            <td>3 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена процессора ноутбука (без пайки)</td>
                            <td>200</td>
                            <td>3 мес.</td>
                        </tr>
                        <tr>
                            <td>Программная чистка компьютера</td>
                            <td>400</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Ремонт внутренних шлейфов ноутбука</td>
                            <td>1600</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт ноутбука после коррозии (попадания жидкости и т.п.)</td>
                            <td>1000</td>
                            <td>14 дн.</td>
                        </tr>
                        <tr>
                            <td>Чистка, замена системы охлаждения</td>
                            <td>200</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Удаление пароля BIOS ноутбука</td>
                            <td>500</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Ремонт блока питания ноутбука</td>
                            <td>600</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Сборка/разборка ноутбука</td>
                            <td>400</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Ремонт материнской платы (замена микросхем BGA)</td>
                            <td>3000</td>
                            <td>3 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт материнской платы (замена микросхем PQFP и пр.)</td>
                            <td>200</td>
                            <td>3 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт материнской платы (замена разъемов, USB и пр.)</td>
                            <td>400</td>
                            <td>3 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт ноутбука после коррозии (попадания органической жидкости)</td>
                            <td>1500</td>
                            <td>14 дн.</td>
                        </tr>
                    </table>
                </details>
                <details>
                    <summary>Системный блок компьютера</summary>
                    <table th:fragment="pc" class="table-history p-min">
                        <tr>
                            <th><strong>Вид работы</strong></th>
                            <th style="padding-right: 25px;"><strong>Цена</strong></th>
                            <th><strong>Гарантия</strong></th>
                        </tr>
                        <tr>
                            <td>Диагностика (при условии дальнейшего ремонта )</td>
                            <td>0</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Диагностика системного блока (без дальнейшего ремонта(без разборки))</td>
                            <td>100</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Диагностика системного блока (с полной разборкой/сборкой/заменой комплектующих))</td>
                            <td>200</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Восстановление ОС (системный блок)</td>
                            <td>600</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Программная чистка компьютера</td>
                            <td>400</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Сборка системного блока</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена HDD</td>
                            <td>300</td>
                            <td>0 дн.</td>
                        </tr>
                    </table>
                </details>
                <details>
                    <summary>Сотовые телефоны</summary>
                    <table th:fragment="mobile_phones" class="table-history p-min">
                        <tr>
                            <th><strong>Вид работы</strong></th>
                            <th style="padding-right: 25px;"><strong>Цена</strong></th>
                            <th><strong>Гарантия</strong></th>
                        </tr>
                        <tr>
                            <td>Прошивка телефона, планшета</td>
                            <td>400</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Замена системного разъёма телефона, планшета, навигатора</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт телефона после попадания жидкости (1 категория)</td>
                            <td>400</td>
                            <td>14 дн.</td>
                        </tr>
                        <tr>
                            <td>Ремонт телефона после попадания жидкости (2 категория)</td>
                            <td>500</td>
                            <td>14 дн.</td>
                        </tr>
                        <tr>
                            <td>Ремонт телефона после попадания жидкости (3 категория)</td>
                            <td>1000</td>
                            <td>14 дн.</td>
                        </tr>
                        <tr>
                            <td>Электро-механический ремонт платы телефона (1 категория)</td>
                            <td>400</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Электро-механический ремонт платы телефона (2 категория)</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Электро-механический ремонт платы телефона (3 категория)</td>
                            <td>1000</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена аккумулятора телефона/планшета с разбором корпуса (1 категория)</td>
                            <td>300</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена аккумулятора телефона/планшета с разбором корпуса (2 категория)</td>
                            <td>400</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена аккумулятора телефона/планшета с разбором корпуса (3 категория)</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена сенсора телефона (1 категория)</td>
                            <td>300</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена сенсора телефона (2 категория)</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена сенсора телефона (3 категория)</td>
                            <td>1000</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена СИМ холдера</td>
                            <td>500</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Замена шлейфа (межплатный, с кнопками, динамиками, микрофонами и т.д.) (1 категория)
                            </td>
                            <td>0</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена динамика/микрофона без пайки (1 категория)</td>
                            <td>300</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена динамика/микрофона без пайки (2 категория)</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена динамика/микрофона с пайкой, либо замена сборкой (1 категория)</td>
                            <td>300</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена динамика/микрофона с пайкой, либо замена сборкой (2 категория)</td>
                            <td>400</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена дисплея телефона (без снятия сенсора)</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена дисплея телефона (снятие и установка сенсора на место)</td>
                            <td>700</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена кнопок телефона/планшета (1 кнопка, без учета разбора/сбора)</td>
                            <td>100</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена модуля телефона (1 категория)</td>
                            <td>700</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена модуля телефона (2 категория)</td>
                            <td>1000</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена модуля телефона (без проклейки)</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Сборка/разборка телефона/планшета/навигатора (1 категория)*</td>
                            <td>400</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Сборка/разборка телефона/планшета/навигатора (2 категория)*</td>
                            <td>500</td>
                            <td>0 дн.</td>
                        </tr>
                    </table>
                </details>
                <details>
                    <summary>Телевизоры (только ЖК), мониторы и ТВ приставки</summary>
                    <table th:fragment="televisisions" class="table-history p-min">
                        <tr>
                            <th><strong>Вид работы</strong></th>
                            <th style="padding-right: 25px;"><strong>Цена</strong></th>
                            <th><strong>Гарантия</strong></th>
                        </tr>
                        <tr>
                            <td>Ремонт телевизора ЖК, диагональю 20&rdquo;-25&rdquo;</td>
                            <td>1200</td>
                            <td>4 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт телевизора ЖК, диагональю&nbsp; 26&rdquo;-31&quot;</td>
                            <td>1500</td>
                            <td>4 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт телевизор ЖК, диагональю&nbsp; 32&rdquo;-37&quot;</td>
                            <td>1800</td>
                            <td>4 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт телевизор ЖК, диагональю&nbsp; 38&rdquo; и выше</td>
                            <td>2200</td>
                            <td>4 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт телевизор ЖК, диагональю&nbsp; до 19&rdquo;</td>
                            <td>1000</td>
                            <td>4 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт матрицы и работы внутри матрицы телевизора</td>
                            <td>500</td>
                            <td>4 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт цифровой приставки</td>
                            <td>400</td>
                            <td>2 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт монитора</td>
                            <td>700</td>
                            <td>0 дн.</td>
                        </tr>
                    </table>
                </details>
                <details>
                    <summary>Планшеты, навигаторы</summary>
                    <table th:fragment="tablets" class="table-history p-min">
                        <tr>
                            <th><strong>Вид работы</strong></th>
                            <th style="padding-right: 25px;"><strong>Цена</strong></th>
                            <th><strong>Гарантия</strong></th>
                        </tr>
                        <tr>
                            <td>Сборка/разборка планшета/навигатора (1 категория)&nbsp;</td>
                            <td>300</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Сборка/разборка планшета/навигатора (2 категория)&nbsp;</td>
                            <td>500</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Замена дисплея планшета 7&#39;&#39;</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена сенсора планшета 7&#39;&#39;</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Обновление навигатора и программы</td>
                            <td>300</td>
                            <td>0 дн.</td>
                        </tr>
                        <tr>
                            <td>Замена системного разъёма планшета, навигатора</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Замена системного разъёма планшета, больше 7&#39;&#39;</td>
                            <td>700</td>
                            <td>1 мес.</td>
                        </tr>
                    </table>
                </details>
                <details>
                    <summary>Заправка картриджей</summary>
                    <table th:fragment="writers" class="table-history p-min">
                        <tr>
                            <th><strong>Вид работы</strong></th>
                            <th style="padding-right: 25px;"><strong>Цена</strong></th>
                            <th><strong>Гарантия</strong></th>
                        </tr>
                        <tr>
                            <td>Заправка картриджа (1 категория)</td>
                            <td>100</td>
                            <td>2 дн.</td>
                        </tr>
                        <tr>
                            <td>Заправка картриджа (2 категория)</td>
                            <td>200</td>
                            <td>2 дн.</td>
                        </tr>
                    </table>
                </details>
                <details>
                    <summary>Разное</summary>
                    <table th:fragment="other" class="table-history p-min">
                        <tr>
                            <th><strong>Вид работы</strong></th>
                            <th style="padding-right: 25px;"><strong>Цена</strong></th>
                            <th><strong>Гарантия</strong></th>
                        </tr>
                        <tr>
                            <td>Ремонт мультиварки (1 категория)</td>
                            <td>500</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт магнитолы</td>
                            <td>400</td>
                            <td>1 мес.</td>
                        </tr>
                        <tr>
                            <td>Ремонт микроволновки (1 категория)</td>
                            <td>700</td>
                            <td>1 мес.</td>
                        </tr>
                    </table>
                </details>
                <p><strong>Примечание</strong>: Категория определяется мастерской самостоятельно исходя из стоимости
                    устройства и сложности его сбора/разбора</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>