<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="row goods" th:fragment="goods">
        <!--/*@thymesVar id="goods" type="com.example.models.Good"*/-->
        <div class="col-xs-3 col-sm-2" th:each="good :${goods}">
            <a class="thumbnail">
                <img src="" th:src="${good.imgLink}" alt="...">
                <div class="caption">
                    <span th:text="${good.name}">Смартфоны</span>
                </div>
            </a>
        </div>
    </div>
</body>
</html>