<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: header (~{::body},'ship_and_pay')}">
<body>
<style></style>
<div class="contacts-area ship_and_pay-area">
    <div class="zigzag-bottom"></div>
    <div class="container main-block">
        <div class="row">
            <div class="col-sm-3 col-md-3">

                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'i0')" id="defaultOpen">Как оформить заказ</button>
                    <button class="tablinks" onclick="openCity(event, 'i1')">Способы доставки</button>
                    <button class="tablinks" onclick="openCity(event, 'i2')">Способы оплаты</button>
                </div>

            </div>

            <div class="col-sm-9 col-md-8 tab-content-padding-bottom">
                <div id="i0" class="tabcontent">
                    <ol><li>Для заказа воспользуйтесь поиском или каталогом</li>
                        <li>Найдите интересующие товары и добавьте их в корзину</li>
                        <li>Зайдите в корзину, откорректируйте количество и перейдите к оформлению заказа</li>
                        <li>Выберите способ оплаты, доставки, введите контактные данные</li>
                        <li>После оформления заказа, в течение рабочего
                            дня вам будет выставлен счёт с учётом доставки</li>
                        <li>Далее, заказ будет переведен на сборку и упаковку, после - в режим доставки по
                            вашему адресу</li>
                    </ol>
                </div>
                <div id="i1" class="tabcontent">
                    <ul>
                        <li class="UlPadTop10px"><strong>Самовывоз</strong>
                            <ul class="UlNoType">
                                <li>Вы можете заехать за заказом в рабочие часы нашего офиса. <a href="/contacts">Схема
                                    проезда и контакты</a>
                                </li>
                            </ul>
                        </li>
                        <li><strong>Курьером</strong>
                            <ul class="UlNoType">
                                <li>Доставка осуществляется в пределах г.Горно-Алтайска, с.Маймы, с.Кызыл-Озёк</li>
                                <li>Доставка осуществляется на следующий день после заказа c 9-00 до 19-00</li>
                                <li>Заказ от 500р до 2000р - стоимость доставки 200р</li>
                                <li>Заказ свыше 2000р - доставка бесплатна</li>
                            </ul>
                        </li>
                        <li class="UlPadTop10px"><strong>Почта России</strong>
                            <ul class="UlNoType">
                                <li>Калькулятор доставки <a href="#">Почты России</a></li>
                            </ul>
                        </li>
                        <li><strong>Транспортная компания СДЭК</strong>
                            <ul>
                                <li>Калькулятор доставки <a href="#">СДЭК</a></li>
                                <li>Доставка до терминала СДЭК бесплатна</li>
                            </ul>
                        </li>

                        <li><strong>Транспортная компания DPD</strong>
                            <ul>
                                <li>Калькулятор доставки <a href="#">DPD</a>
                                </li>
                                <li>Доставка до терминала DPD бесплатна</li>
                            </ul>
                        </li>
                        <li><strong>Транспортная компания Энергия</strong>
                            <ul>
                                <li>Калькулятор доставки <a href="#">Энергия</a></li>
                            </ul>
                        </li>

                        <li><strong>Транспортная компания РАТЭК</strong>
                            <ul>
                                <li>Калькулятор доставки <a href="#">РАТЭК</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="i2" class="tabcontent">
                    <ul>
                        <li><strong>Наличными или картой в нашем магазине или курьеру</strong>
                            <ul><li>При доставке по г.Горно-Алтайску, с.Майма, с.Кызыл-Озек</li></ul>
                        </li>
                        <li><strong>Оплата на карту Сбербанка</strong>
                            <ul><li>Реквизиты высылаем электронной после завершения покупки</li></ul></li>
                        <li><strong>Яндекс ДЕНЬГИ</strong>
                            <ul><li>Номер электронного кошелька 410012946919143</li></ul></li>
                        <li><strong>Картой Халва в нашем магазине</strong></li>
                    </ul>
                </div>
            </div>
            <script>
                function openCity(evt, cityName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(cityName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
        </div>
    </div>
</div>
</body>
</html>