<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: header (~{::body},'index')}">
<body th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
<div class="container">

    <th:block th:replace="fragments/carousel :: carousel">%%</th:block>
    <br/><br/><br/>
    <section class="contacts" id="contacts">
        <th:block th:replace="other/contacts :: contacts(true)">%%</th:block>
    </section>
    <br/><br/>
    <section class="goods" id="goods">
    <th:block th:replace="other/goods :: goods">%%</th:block>
    </section>
</div>
</body>
</html>