<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: header (~{::body},'index')}">
<body th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
<div class="container">

    <th:block th:replace="fragments/carousel :: carousel">%%</th:block>
    <br/><br/><br/>
    <div><a name="contacts_anchor"></a></div>
    <th:block th:replace="other/contacts :: contacts(true)">%%</th:block>
    <br/><br/>
    <a name="goods_anchor"></a>
    <th:block th:replace="other/goods :: goods">%%</th:block>
</div>
</body>
</html>