<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/header :: header (~{::body},'cart')}">
<body>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container main-block">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form method="post" action="/checkout">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">Фото</th>
                                    <th class="product-name">Название</th>
                                    <th class="product-price">Цена</th>
                                    <th class="product-quantity">Количество</th>
                                    <th class="product-subtotal">Сумма</th>
                                    <th class="product-remove">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="cart_item">
                                    <td class="product-thumbnail">
                                        <a href="/single-product"><img width="145" height="145" alt="poster_1_up"
                                                                       class="shop_thumbnail"
                                                                       src="/img/product-thumb-2.jpg"/></a>
                                    </td>

                                    <td class="product-name">
                                        <a href="/single-product">%Product Name%</a>
                                    </td>

                                    <td class="product-price">
                                        <span class="amount">1500 ₽</span>
                                    </td>

                                    <td class="product-quantity">
                                        <div class="quantity buttons_added">
                                            <input type="button" class="minus" value="-"/>
                                            <input type="number" size="4" class="input-text qty text" value="1" min="0"
                                                   step="1"/>
                                            <input type="button" class="plus" value="+"/>
                                        </div>
                                    </td>

                                    <td class="product-subtotal">
                                        <span class="amount">1500 ₽</span>
                                    </td>
                                    <td class="product-remove">
                                        <a title="Remove this item" class="remove" href="#">×</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="actions" colspan="6">
                                        <div class="coupon">
                                            <label for="coupon_code">Купон:</label>
                                            <input type="text" placeholder="Coupon code" value="" id="coupon_code"
                                                   class="input-text" name="coupon_code"/>
                                            <input type="submit" value="Активировать" name="apply_coupon"
                                                   class="button"/>
                                        </div>
                                        <input type="submit" value="Обновить корзину" name="update_cart"
                                               class="button update_cart"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>

                        <div class="cart-collaterals">

                            <div class="row">

                                <form method="post" action="/orders/checkout" class="shipping_calculator">
                                    <div class="col-sm-6 col-xs-8">
                                    <h2>Калькулятор доставки</h2>

                                    <div class="input-group">
                                        <span class="input-group-addon">Способ доставки *</span>
                                        <select rel="calc_shipping_state" class="form-control country_to_state"
                                                id="calc_shipping_country" name="calc_shipping_country">
                                            <option value="1">Самовывоз</option>
                                            <option value="2">Курьер</option>
                                            <option value="3">Почта России</option>
                                            <option value="4">СДЭК</option>
                                            <option value="5">DPD</option>
                                            <option value="6">Энергия</option>
                                            <option value="7">РАТЭК</option>
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">Регион *</span>
                                        <input name="region" type="text" class="form-control" value=""
                                               required="">
                                    </div>

                                    <br/>

                                    <div class="input-group">
                                        <span class="input-group-addon">Почтовый индекс *</span>
                                        <input name="postcode" type="text" class="form-control" value=""
                                               required="">
                                    </div>

                                    <br/>

                                    </div>

                                    <div class="cart_totals col-sm-6 col-xs-8">
                                        <h2>Подсчет стоимости</h2>

                                        <table cellspacing="0">
                                            <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Стоимость товаров</th>
                                                <td><span class="amount" id="goods_cost">1500 ₽</span></td>
                                            </tr>

                                            <tr class="shipping">
                                                <th>Способ доставки</th>
                                                <td id="shipping_type">Самовывоз</td>
                                            </tr>

                                            <tr class="shipping">
                                                <th>Стоимость доставки</th>
                                                <td id="shipping_count">Бесплатная</td>
                                            </tr>

                                            <tr class="order-total">
                                                <th>Итог</th>
                                                <td><strong><span class="amount" id="order_total">1500 ₽</span></strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <button class="button order_success" value="success" name="order_success" type="submit">Оформить заказ</button>
                                    </div>
                                </form>

                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
</body>
</html>