<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/header :: header (~{::body},'checkout')}">
<body>

<div class="single-product-area" th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
    <div class="zigzag-bottom"></div>
    <div class="container main-block" th:with="isUserOrAdmin = ${isUser or isAdmin}">
        <div class="row">
            <div class="col-md-10 col-centred">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <div class="woocommerce-info" th:unless="${isUserOrAdmin}">У вас есть учетная запись? <a class="showlogin"
                                                                                    data-toggle="collapse"
                                                                                    href="#login-form-wrap"
                                                                                    aria-expanded="false"
                                                                                    aria-controls="login-form-wrap">Войти</a>
                        </div>

                        <form id="login-form-wrap" th:unless="${isUserOrAdmin}" class="login collapse" method="post" action="/users/login">


                            <p>Если вы покупали раньше в нашем онлайн магазине, то введите, пожалуйста, ваши логин и
                                пароль в форму ниже.</p>

                            <p class="form-row form-row-first">
                                <label for="username">Логин или email <span class="required">*</span>
                                </label>
                                <input type="text" id="username" name="username" class="input-text">
                            </p>
                            <p class="form-row form-row-last">
                                <label for="password">Пароль <span class="required">*</span>
                                </label>
                                <input type="password" id="password" name="password" class="input-text">
                            </p>
                            <div class="clear"></div>


                            <p class="form-row">
                                <input type="submit" value="Login" name="login" class="button">
                                <label class="inline" for="rememberme"><input type="checkbox" value="forever"
                                                                              id="rememberme" name="rememberme">
                                    Запомнить меня </label>
                            </p>
                            <p class="lost_password">
                                <a href="#">Не помните пароль?</a>
                            </p>

                            <div class="clear"></div>
                        </form>

                        <!--/*@thymesVar id="isHaveACoupon" type="java.lang.Boolean"*/-->
                        <div class="woocommerce-info" th:unless="${isHaveACoupon}">У вас есть купон? <a class="showcoupon" data-toggle="collapse"
                                                                           href="#coupon-collapse-wrap"
                                                                           aria-expanded="false"
                                                                           aria-controls="coupon-collapse-wrap">Ввести
                            код купона</a>
                        </div>

                        <form id="coupon-collapse-wrap" th:unless="${isHaveACoupon}" method="post" class="checkout_coupon collapse">

                            <p class="form-row form-row-first">
                                <input type="text" value="" id="coupon_code" placeholder="Код купона" class="input-text"
                                       name="coupon_code">
                            </p>

                            <p class="form-row form-row-last">
                                <input type="submit" value="Активировать" name="apply_coupon" class="button">
                            </p>

                            <div class="clear"></div>
                        </form>

                        <form enctype="multipart/form-data" action="#" class="checkout" method="post" name="checkout">

                            <div id="customer_details">
                                <!--/*@thymesVar id="user" type="com.example.user.User"*/-->
                                <div class="woocommerce-billing-fields">
                                    <h3>Детали доставки</h3>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p id="billing_first_name_field"
                                               class="form-row form-row-first validate-required">
                                                <label class="" for="billing_first_name">Имя <abbr title="Обязательное поле"
                                                                                                   class="required">*</abbr>
                                                </label>
                                                <input type="text" th:value="${isUserOrAdmin?user.getFirstName():''}" placeholder="" id="billing_first_name"
                                                       name="billing_first_name" class="input-text ">
                                            </p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p id="billing_last_name_field"
                                               class="form-row form-row-last validate-required">
                                                <label class="" for="billing_last_name">Фамилия <abbr title="Обязательное поле"
                                                                                                      class="required">*</abbr>
                                                </label>
                                                <input type="text" th:value="${isUserOrAdmin?user.getLastName():''}" placeholder="" id="billing_last_name"
                                                       name="billing_last_name" class="input-text ">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="clear"></div>

                                    <label class="" for="billing_address_1">Адрес <abbr title="Обязательное поле"
                                                                                        class="required">*</abbr>
                                    </label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p id="billing_address_1_field"
                                               class="form-row form-row-wide address-field validate-required">
                                                <input type="text" th:value="${isUserOrAdmin?user.getListOfAddress()[2]:''}" placeholder="Район (если не город)"
                                                       id="billing_address_1"
                                                       name="billing_address_1" class="input-text ">
                                            </p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p id="billing_city_field"
                                               class="form-row form-row-wide address-field validate-required"
                                               data-o_class="form-row form-row-wide address-field validate-required">
                                                <input type="text" th:value="${isUserOrAdmin?user.getListOfAddress()[3]:''}" placeholder="Населённый пункт"
                                                       id="billing_city"
                                                       name="billing_city" class="input-text ">
                                            </p>
                                        </div>
                                    </div>

                                    <p id="billing_address_2_field" class="form-row form-row-wide address-field">
                                        <input type="text" th:value="${isUserOrAdmin?user.getListOfAddress()[4]:''}" placeholder="Улица, дом, квартира"
                                               id="billing_address_2" name="billing_address_2" class="input-text ">
                                    </p>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p id="billing_phone_field"
                                               class="form-row form-row-last validate-required validate-phone">
                                                <label class="" for="billing_phone">Номер телефона <abbr
                                                        title="Обязательное поле"
                                                        class="required">*</abbr>
                                                </label>
                                                <input type="text" th:value="${isUserOrAdmin?user.getPhoneNumber():''}" placeholder="" id="billing_phone"
                                                       name="billing_phone" class="input-text ">
                                            </p>
                                        </div>
                                    </div>

                                    <div class="clear"></div>


                                    <div class="create-account" th:unless="${isUserOrAdmin}">
                                        <p>Когда вы снова решите что-нибудь
                                            купить, войдите в аккаунт, и вам не придётся заполнять контактные данные</p>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p id="billing_email_field"
                                                   class="form-row form-row-first validate-required validate-email">
                                                    <label class="" for="billing_email">Email адрес <abbr title="Обязательное поле"
                                                                                                          class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value="" placeholder="" id="billing_email"
                                                           name="billing_email" class="input-text ">
                                                </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p id="account_password_field" class="form-row validate-required">
                                                    <label class="" for="account_password">Пароль к аккаунту <abbr
                                                            title="Обязательное поле" class="required">*</abbr>
                                                    </label>
                                                    <input type="password" value="" id="account_password"
                                                           name="account_password" class="input-text w-full">
                                                </p>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <p id="order_comments_field" class="form-row notes">
                                        <label class="" for="order_comments">Комментарий к заказу</label>
                                        <textarea cols="5" rows="2" placeholder="Для пожеланий насчет товара и доставки"
                                                  id="order_comments" class="input-text"
                                                  name="order_comments"></textarea>
                                    </p>

                                </div>

                            </div>

                            <h3 id="order_review_heading">Ваш заказ</h3>

                            <div id="order_review" style="position: relative;">
                                <table class="shop_table">
                                    <thead>
                                    <tr>
                                        <th class="product-name">Товар</th>
                                        <th class="product-total">Стоимость</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            Ship Your Idea <strong class="product-quantity">× 1</strong></td>
                                        <td class="product-total">
                                            <span class="amount">1500 Р</span></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>

                                    <tr class="cart-subtotal">
                                        <th>Стоимость товаров</th>
                                        <td><span class="amount">1500 Р</span>
                                        </td>
                                    </tr>

                                    <tr class="shipping">
                                        <th>Стоимость доставки</th>
                                        <td>

                                            Бесплатно
                                            <input type="hidden" class="shipping_method" value="free_shipping"
                                                   id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                        </td>
                                    </tr>


                                    <tr class="order-total">
                                        <th>Итог</th>
                                        <td><strong><span class="amount">1500 Р</span></strong></td>
                                    </tr>

                                    </tfoot>
                                </table>


                                <div id="payment">
                                    <ul class="payment_methods methods">
                                        <li class="payment_method_bacs">
                                            <input type="radio" data-order_button_text="" checked="checked" value="bacs"
                                                   name="payment_method" class="input-radio" id="payment_method_bacs">
                                            <label for="payment_method_bacs">Direct Bank Transfer </label>
                                            <div class="payment_box payment_method_bacs">
                                                <p>Make your payment directly into our bank account. Please use your
                                                    Order ID as the payment reference. Your order won’t be shipped until
                                                    the funds have cleared in our account.</p>
                                            </div>
                                        </li>
                                        <li class="payment_method_cheque">
                                            <input type="radio" data-order_button_text="" value="cheque"
                                                   name="payment_method" class="input-radio" id="payment_method_cheque">
                                            <label for="payment_method_cheque">Cheque Payment </label>
                                            <div style="display:none;" class="payment_box payment_method_cheque">
                                                <p>Please send your cheque to Store Name, Store Street, Store Town,
                                                    Store State / County, Store Postcode.</p>
                                            </div>
                                        </li>
                                        <li class="payment_method_paypal">
                                            <input type="radio" data-order_button_text="Proceed to PayPal"
                                                   value="paypal" name="payment_method" class="input-radio"
                                                   id="payment_method_paypal">
                                            <label for="payment_method_paypal">PayPal <img alt="PayPal Acceptance Mark"
                                                                                           src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"><a
                                                    title="What is PayPal?"
                                                    onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"
                                                    class="about_paypal"
                                                    href="https://www.paypal.com/gb/webapps/mpp/paypal-popup">What is
                                                PayPal?</a>
                                            </label>
                                            <div style="display:none;" class="payment_box payment_method_paypal">
                                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a
                                                    PayPal account.</p>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="form-row place-order">

                                        <input type="submit" data-value="Place order" value="Перейти к оплате"
                                               id="place_order" name="woocommerce_checkout_place_order"
                                               class="button alt">


                                    </div>

                                    <div class="clear"></div>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>