<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/header :: header (~{::body},'login')}">
<body>
<div class="container" style="padding-bottom: 40px;">
    <div class="page-header">
        <h2>
            Вход / <a href="/users/registration">
            Регистрация</a>
        </h2>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <form method="POST" action="/users/login">
                <br>
                <div class="input-group">
                    <span class="input-group-addon">Логин</span>
                    <input name="username" id="login" autofocus="autofocus" type="text" class="form-control input-lg" placeholder="Логин" aria-label="Логин" required="">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">Пароль</span>
                    <input name="password" id="pass" type="password" class="form-control input-lg" placeholder="Пароль" aria-label="Пароль" required="">
                </div>
                <br>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember" name="remember" checked="checked" style="margin-left: -20px; visibility: visible; left:20px;"><span>Запомнить меня</span>
                    </label>
                </div>
                <!--<div class="g-recaptcha" data-sitekey="6LduKUEUAAAAACGRmysEPl1Mlp9QAo1CRNe6QWUf"></div>
                <span id="captchaError" class="alert alert-danger col-sm-4"
                      style="display:none"></span>-->
                <br>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Вход">
            </form>
        </div>
    </div>
</div>
</body>
</html>