<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/header :: header (~{::body},'ship_and_pay')}">
<body>
<div class="contacts-area">
    <div class="zigzag-bottom"></div>
    <div class="container main-block">
        <div class="row">
            <div class="col-lg-10">
                <h3>Как оформить заказ</h3>
                <p>Для заказа товаров в нашем интернет-магазине Вам нужно воспользоваться поиском или каталогом, найти
                    интересующие Вас товары и добавить их в корзину. Зайти в корзину, откорректировать количество и
                    перейти к оформлению: выбрать способ оплаты, доставки, отредактировать контактные данные, если они
                    отличаются от указанных при регистрации. После оформления Вами заказа на сайте, в течении рабочего
                    дня Вам будет выставлен счёт с учётом доставки.<br/><br/>
                    После получения оплаты Ваш заказ будет переведен на сборку и упаковку, после в режим доставки по
                    указанному адресу.<br/>
                    Минимальная сумма заказа 1000 руб.</p>
                <h3>Способы доставки</h3>
                <ul>
                    <li class="UlPadTop10px"><strong>Самовывоз</strong>
                        <ul class="UlNoType">
                            <li>Вы можете заехать за заказом сами в рабочие часы нашего офиса. <a href="/contacts">Схема
                                проезда и контакты</a>.
                            </li>
                        </ul>
                    </li>
                    <li><strong>Курьером</strong>
                        <ul class="UlNoType">
                            <li>Доставка осуществляется в пределах г.Горно-Алтайска, с.Маймы, с.Кызыл-Озёк</li>
                            <li>Доставка осуществляется на следующий день после заказа c 9-00 до 19-00</li>
                            <li>Заказ от 500р до 2000р. стоимость доставки 200р</li>
                            <li>Заказ свыше 2000р. - доставки бесплатно</li>
                        </ul>
                    </li>
                    <li class="UlPadTop10px"><strong>Почта России</strong>
                        <ul class="UlNoType">
                            <li>Стоимость доставки можно посчитать на сайте <a href="#">Почты России</a></li>
                        </ul>
                    </li>
                    <li><strong>Транспортная компания СДЭК</strong>
                        <ul>
                            <li>Расчитать стоимость можно на сайте транспортной компании <a href="#">СДЭК</a></li>
                            <li>Доставка до терминала СДЭК бесплатна</li>
                        </ul>
                    </li>

                    <li><strong>Транспортная компания DPD</strong>
                        <ul>
                            <li>Стоимость доставки можно расчитать на сайте транспортной компании <a href="#">DPD</a>
                            </li>
                            <li>Доставка до терминала DPD бесплатна</li>
                        </ul>
                    </li>
                    <li><strong>Транспортная компания Энергия</strong>
                        <ul>
                            <li>Стоимость доставки можно посчитать на сайте транспортной компании <a
                                    href="#">Энергия</a></li>
                        </ul>
                    </li>

                    <li><strong>Транспортная компания РАТЭК</strong>
                        <ul>
                            <li>Стоимость доставки можно расчитать на сайте транспортной компании <a href="#">РАТЭК</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <h3>Способы оплаты</h3>
                <ol>
                    <li>Наличными или картой в нашем магазине или курьеру, при доставке по г.Горно-Алтайску, с.Майма,
                        с.Кызыл-Озек
                    </li>
                    <li>Картой Халва в нашем магазине</li>
                    <li>Оплата на карту Сбербанка. Реквизиты высылаем электронной после завершения покупки</li>
                    <li>Яндекс ДЕНЬГИ. Номер электронного кошелька 410012946919143</li>
                </ol>
            </div>
        </div>
    </div>
</div>
</body>
</html>