<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: header (~{::body},'admin_callbacks')}">

<body th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
<div class="contacts-area">
    <div class="zigzag-bottom"></div>
    <div class="container main-block">
        <div class="row">
            <!--/*@thymesVar id="callbacks" type="java.util.List<com.example.models.callbacks.Callback>"*/-->
            <!--/*@thymesVar id="statuses" type="java.util.List<com.example.models.callbacks.Status>"*/-->
            <!--/*@thymesVar id="callback" type="com.example.models.callbacks.Callback"*/-->
            <!--/*@thymesVar id="status" type="com.example.models.callbacks.Status"*/-->
            <!--/*@thymesVar id="statusEditId" type="java.lang.Long"*/-->
            <div class="col-md-10 col-lg-8 col-centred">
                <div class="header mb-2">
                    <h3 th:if="${callback==null}">Заказы обратного звонка (<a href="/admin/statuses">статусы коллбэков</a>)</h3>
                    <h3 th:if="${callback!=null}">Редактирование коллбэка</h3>
                </div>
                <div class="row" th:if="${callback==null}">
                    <form action="/admin/callbacks" method="get">
                        <div class="col-xs-8">
                            <div class="input-group">
                                <span class="input-group-addon">Телефон</span>
                                <!--/*@thymesVar id="phone" type="java.lang.String"*/-->
                                <input name="phone" id="phone_number" autofocus="autofocus" type="text"
                                       class="form-control input-md" minlength="17"
                                       placeholder="Телефон" aria-label="Телефон">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <input type="submit" class="btn btn-md btn-primary btn-block" value="Найти">
                        </div>
                    </form>
                </div>

                <form action="/admin/edit_callback" method="post" th:if="${callback!=null}" class="edit_callback">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label th:class="${'btn btn-secondary'+(status.getId()==callback.getStatus().getId()?' active':'')}"
                                       th:each="status: ${statuses}" th:style="${'background: '+status.getColor()}">
                                    <span th:text="${status.getName()}"></span>
                                    <input type="radio" name="status" th:id="${'edit'+status.getId()}"
                                           autocomplete="off"
                                           th:checked="${callback.getStatus().getId()==status.getId()}"
                                           th:value="${status.getId()}">
                                </label>
                            </div>
                            <th:block>
                                <input name="id" type="number"
                                       class="gone" th:value="${callback.getId()}">
                            </th:block>
                        </div>
                    </div>
                    <br/>
                    <div class="col-xs-7">
                        <div class="input-group">
                            <span class="input-group-addon">Телефон</span>
                            <input name="phone" autofocus="autofocus" type="text"
                                   class="form-control input-md" th:value="${callback.getPhone()}"
                                   placeholder="Телефон" aria-label="Телефон">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <a type="reset" class="btn btn-md btn-primary btn-block" href="/admin/callbacks">Сброс</a>
                    </div>
                    <div class="col-xs-3">
                        <input type="submit"
                               class="btn btn-md btn-primary btn-block"
                               value="Обновить">
                    </div>
                    <br/>
                </form>

                <div class="row" th:if="${statuses!=null and callback==null}">
                    <div class="col-sm-1 col-xs-2 filter"><span>Фильтр:</span></div>
                    <div class="col-xs-2 dropdown filter-statuses">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                th:text="${status!=null?status.getName():'Все статусы'}" th:style="'background: '+${status!=null?status.getColor():'lightgray'}">
                            Статусы
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!--/*@thymesVar id="statuses" type="java.util.List<com.example.models.callbacks.Status>"*/-->
                            <a class="dropdown-item" href="#" th:href="@{/admin/callbacks}" th:if="${status!=null}">Все статусы</a>
                            <a class="dropdown-item" href="#" th:each="each_status:${statuses}" th:text="${each_status.getName()}"
                               th:style="'background:'+${each_status.getColor()}"
                               th:if="${status==null or (status!=null and status.getId()!=each_status.getId())}"
                               th:href="@{/admin/callbacks(status_id=${each_status.getId()})}">Action</a>
                        </div>
                    </div>
                </div>
                <th:block th:unless="${callbacks==null or callbacks.size()==0}">
                    <div class="status row" th:each="callback: ${callbacks}"
                         th:style="${'background: '+ callback.getStatus().getColor()}">
                        <div class="col-xs-7">
                            <p th:text="${callback.getPhone() + ' (' + callback.getStatus().getName() + ')'}">
                                Номер телефона
                            </p>
                        </div>
                        <div class="col-xs-5 actions actions-callback">
                            <a th:href="@{/admin/edit_callback(id=${callback.getId()})}"><i class="fas fa-edit"></i></a>
                            <a th:href="@{/admin/del_callback(id=${callback.getId()})}"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                </th:block>
            </div>

        </div>
    </div>
</div>
</body>

</html>