<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: header (~{::body},'admin_statuses')}">

<body th:with="isUser = ${#httpServletRequest.isUserInRole('USER')}, isAdmin = ${#httpServletRequest.isUserInRole('ADMIN')}">
<div class="contacts-area">
    <div class="zigzag-bottom"></div>
    <div class="container main-block">
        <div class="row">
            <!--/*@thymesVar id="statuses" type="java.util.List<com.example.models.callbacks.Status>"*/-->
            <!--/*@thymesVar id="status" type="com.example.models.callbacks.Status"*/-->
            <div class="col-md-10 col-lg-8 col-centred">
                <div class="header mb-2">
                    <h3>Статусы заказов обратного звонка</h3>
                </div>

                <form action="/admin/add_status" method="post">
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="input-group">
                                <span class="input-group-addon">Статус</span>
                                <input name="name" autofocus="autofocus" type="text"
                                       class="form-control input-md" th:value="${status==null?'':status.getName()}"
                                       placeholder="Статус" aria-label="Статус">
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="input-group">
                                <span class="input-group-addon">Цвет</span>
                                <input name="color" type="text"
                                       class="form-control input-md" th:value="${status==null?'':status.getColor()}"
                                       placeholder="#000000" aria-label="#000000">
                            </div>
                        </div>
                        <th:block th:if="${status!=null and status.getId()>0}">
                            <input name="id" type="number"
                                   class="gone" th:value="${status.getId()}">
                        </th:block>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-8"></div>
                        <div th:class="${(status!=null and status.getId()>0)?'col-sm-5 two-btns':'col-sm-5'}">
                            <a type="reset" th:if="${status!=null and status.getId()>0}"
                               class="btn btn-md btn-primary" href="/admin/statuses">Сброс</a>
                            <input type="submit" class="btn btn-md btn-primary btn-block"
                                   th:value="${(status!=null and status.getId()>0)?'Обновить':'Добавить'}">
                        </div>
                    </div>
                    <br/>
                </form>

                <div class="row">
                    <th:block th:unless="${statuses==null or statuses.size()==0}">
                        <div th:each="status: ${statuses}" class="status row"
                             th:style="${'background: '+ status.getColor()}">
                            <div class="col-xs-7"><p th:text="${status.getName()}">Статус</p></div>
                            <div class="col-xs-5 actions">
                                <a th:href="@{/admin/edit_status(id=${status.getId()})}"><i
                                        th:class="${'fas fa-edit ' + (status.getId()==3?'eee':'')}"></i></a>
                                <a th:if="${status.getId()!=3}" th:href="@{/admin/del_status(id=${status.getId()})}"><i
                                        class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>