$measure-unit: 8;
$primaryMain: #0D87E8;
$secondaryMain: #0083E2;
$success-color: #50bf4c;
$error-color: #d70100;
$alert-color: #ff1700;
$warning-color: #d77400;
$info-color: #2c91d7;
$inactive-color: #959391;
$border-light-color: #dae1ed;
$active-color: #24b5f9;
$current-time-color: #9754f0;
$highlight-color: #24b5f9;