<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
</head>
<body>
<!--/*Modal: headerCallback*/-->
<div class="modal fade" id="headerCallback" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" th:fragment="model">
    <div class="modal-dialog cascading-modal" role="document">
        <!--/*Content*/-->
        <div class="modal-content">
            <!--/*Header*/-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="inline"><i class="fa fa-newspaper-o"></i> Заказ обратного звонка</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <!--/*Body*/-->
            <div class="modal-body mb-0">

                <form action="/get_phone" method="post" class="row mini-form">
                    <div class="col-xs-8">
                        <div class="input-group">
                            <span class="input-group-addon">Телефон</span>
                            <!--/*@thymesVar id="phone" type="java.lang.String"*/-->
                            <input name="phone" autofocus="autofocus" type="text"
                                   class="form-control input-md" minlength="17" id="phone_callback"
                                   placeholder="Телефон" aria-label="Телефон">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <input type="submit" class="btn btn-md btn-primary btn-block" value="Заказать">
                    </div>
                </form>
                <div class="row politics mt-1">
                    <details>
                        <summary>Оставляя заявку, вы соглашаетесь с <span style="color: #05318c;">политикой кофиденциальности</span></summary>
                        <p class="mt-1">Я, субъект персональных данных, в соответствии с Федеральным законом от 27 июля
                            2006 года № 152 «О персональных данных» предоставляю %Название организации% (далее -
                            Оператор), расположенному по адресу %адрес организации%, согласие на обработку персональных
                            данных, указанных мной в форме веб-чата и/или в форме заказа обратного звонка на сайте
                            %url сайта% в сети «Интернет», владельцем которого является Оператор.</p>
                        <ol>
                            <li>Состав предоставляемых мной персональных данных является следующим: Имя, адрес
                                электронной почты и номер телефона.
                            </li>
                            <li>Целями обработки моих персональных данных являются: обеспечение обмена короткими
                                текстовыми сообщениями в режиме онлайн-диалога и обеспечение функционирования обратного
                                звонка.
                            </li>
                            <li>Согласие предоставляется на совершение следующих действий (операций) с указанными в
                                настоящем согласии персональными данными: сбор, систематизацию, накопление, хранение,
                                уточнение (обновление, изменение), использование, передачу (предоставление, доступ),
                                блокирование, удаление, уничтожение, осуществляемых как с использованием средств
                                автоматизации (автоматизированная обработка), так и без использования таких средств
                                (неавтоматизированная обработка).
                            </li>
                            <li>Я понимаю и соглашаюсь с тем, что предоставление Оператору какой-либо информации о себе,
                                не являющейся контактной и не относящейся к целям настоящего согласия, а равно
                                предоставление информации, относящейся к государственной, банковской и/или коммерческой
                                тайне, информации о расовой и/или национальной принадлежности, политических взглядах,
                                религиозных или философских убеждениях, состоянии здоровья, интимной жизни запрещено.
                            </li>
                            <li>В случае принятия мной решения о предоставлении Оператору какой-либо информации
                                (каких-либо данных), я обязуюсь предоставлять исключительно достоверную и актуальную
                                информацию и не вправе вводить Оператора в заблуждение в отношении своей личности,
                                сообщать ложную или недостоверную информацию о себе.  Я понимаю и соглашаюсь с тем, что
                                Оператор не проверяет достоверность персональных данных, предоставляемых мной, и не
                                имеет возможности оценивать мою дееспособность и исходит из того, что я предоставляю
                                достоверные персональные данные и поддерживаю такие данные в актуальном состоянии.
                            </li>
                            <li>Согласие действует по достижении целей обработки или в случае утраты необходимости в
                                достижении этих целей, если иное не предусмотрено федеральным законом.
                            </li>
                            <li>Согласие может быть отозвано мною в любое время на основании моего письменного
                                заявления.
                            </li>
                        </ol>
                    </details>
                </div>
            </div>
            <!--/*Footer*/-->
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-primary waves-effect waves-light"
                        data-dismiss="modal">Закрыть
                </button>
            </div>
        </div>
        <!--/*End-of-Content*/-->
    </div>
</div>
<!--/*End-of-Modal: headerCallback*/-->
</body>
</html>