<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<body>
<!--/*Modal: headerCallback*/-->
<div th:fragment="modal(good)" class="modal fade" th:id="'modalPrices'+${good.id}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--/*Content*/-->
        <div class="modal-content">
            <!--/*Header*/-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="inline modal-title">%Название работы%</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <!--/*Body*/-->
            <div class="modal-body mb-0">
                <h4>%Описание работы%</h4>
            </div>
            <!--/*Footer*/-->
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-primary waves-effect waves-light"
                        data-dismiss="modal">Закрыть
                </button>
            </div>
        </div>
        <!--/*End-of-Content*/-->
    </div>
    <script>
        $('#modalPrices').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var recipient = button.data('name'); // Extract info from data-* attributes
        var modal = $(this);
        modal.find('.modal-title').text(recipient);
    })</script>
</div>
<!--/*End-of-Modal: headerCallback*/-->
</body>
</html>